{% extends 'core/base.html' %}
{% load static %}
{% block content %}


  <div class="container mt-5" id="noticiabody">
    <div class="row">
      <div class="col-md-8">
        <h4><i>{{ new.get_categoria }}</i></h4>
        <h1>{{ new.titulo }}</h1>
        <p class="text-muted">Publicado el: {{ new.fecha }}</p>
        <p>ubicacion: {{ new.ubicacion }}</p>
        <p>autor: {{ new.autor.first_name }}</p>
        {% if new.imagen1 %}
          <li><img src="{{ new.imagen1.url }}" alt="Imagen 1"></li>
        {% endif %}
        {% if new.imagen2 %}
          <li><img src="{{ new.imagen2.url }}" alt="Imagen 2"></li>
        {% endif %}
        {% if new.imagen3 %}
          <li><img src="{{ new.imagen3.url }}" alt="Imagen 3"></li>
        {% endif %}
        <p class="text-break">{{ new.texto }}</p>
      </div>
    </div>
  </div>

  </section>
  {% endblock %}