{% extends 'core/baseAdmin.html' %}
{% load static %}
{% block content %}

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                    <h1>FullNews</h1>
                  <h4 class="mt-1 mb-5 pb-1">Una empresa amigable</h4>
                </div>
                {% load crispy_forms_tags %}
                <form method="POST">
                  <p>Por favor inicia sesion</p>

                  {% csrf_token %}
                  {{ form | crispy }}

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">inicia sesion</button>
                  </div>
                  {{ formset.management_form }}
                  {% for form in formset %}
                      {{ form|crispy }}
                  {% endfor %}
                 </form>
                 <a href="{% url 'password_reset' %}"><p class="text-center">¿olvidaste tu contraseña?</p></a>
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="d-flex align-items-center justify-content-center pb-4">
                  <p class="mb-0 me-2">Aun no tienes una cuenta?</p>
                  <a href="{% url 'register' %}" class="btn btn-outline-danger">Regístrate aquí</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-center text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Somos FullNews</h4>
                <p class="small mb-0">Un equipo de periodistas nuevo , innovador, y muy amigable :D.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}