<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/perfil.css">

    <title>Full news</title>
</head>

<body>
    <!--========================================================== -->
    <!-- ENCABEZADO -->
    <!--========================================================== -->
    <nav  class="navbar navbar-expand-lg navbar-light p-3"  id="menu">
        <div class="container">
          <a class="navbar-brand" href="sesion_iniciada.html">
              <span class="fs-5 text-primary fw-bold">FullNews</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorias
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="CategoriaPolitica.html">Politica</a></li>
                    <li><a class="dropdown-item" href="CategoriaDeporte.html">Deporte</a></li>
                    <li><a class="dropdown-item" href="CategoriaEconomia.html">Economia</a></li>
                    <li><a class="dropdown-item" href="Categoria.html">Cultura</a></li>
                    <li><a class="dropdown-item" href="Categoria.html">Social</a></li>
                    <li><a class="dropdown-item" href="Categoria.html">Policia</a></li>
                    <li><a class="dropdown-item" href="Categoria.html">Ciencia</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="pefil.html">Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="index.html">Cerrar sesion</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="periodista" placeholder="periodista" aria-label="Buscar">
              <a class="btn btn-primary" href="/periodista.html" style="color: white;" role="button">Buscar</a>
            </form>

            </div>
        </div>
      </nav>

    <!--========================================================== -->
    <!-- ADMINISTRAR NOTICIAS-->
    <!--========================================================== -->
    <div class="p-5 bg-dark text-white text-center">
        <h1>PERIODISTA</h1>
    </div>
    <div class="container">
        <section id="capitulos">
            <div class="row">
                <h2 class="text-center my-5">Recientes</h2>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300" alt="">
                        <div class="card-body">
                            <a href="#"><h4>Noticia 1</h4></a>
                            <p>Descripción del Noticia......</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300" alt="">
                        <div class="card-body">
                            <a href="#"><h4>Noticia 2</h4></a>
                            <p>Descripción del Noticia......</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300" alt="">
                        <div class="card-body">
                            <a href="#"><h4>Noticia 3</h4></a>
                            <p>Descripción del Noticia......</p>
                        </div>
                    </div>
                </div>
                <ul class="pagination justify-content-center" style="margin:20px 0">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </section>
        <hr />
        <section class="mb-5" id="personajes">
            <div class="row">
                <h2 class="text-center my-5">Mas vistas</h2>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300" alt="">
                        <div class="card-body">
                            <a href="#"><h4>Noticia 1</h4></a>
                            <p>Descripción del Noticia......</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300" alt="">
                        <div class="card-body">
                            <a href="#"><h4>Noticia 2</h4></a>
                            <p>Descripción del Noticia......</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="https://via.placeholder.com/300" alt="">
                        <div class="card-body">
                            <a href="#"><h4>Noticia 3</h4></a>
                            <p>Descripción del Noticia......</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
    </div>


    <!--========================================================== -->
    <!--FOOTER-->
    <!--========================================================== -->


    <footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
        <p class="fs-5 px-3  pt-3">FullNews &copy; Todos Los Derechos Reservados 2024</p>
        <div id="iconos">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>