{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="d-flex justify-content-center mt-4 mb-4">
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary mt-4" type="submit">Filtrar</button>
    </form>
</div>
<div class="p-5 bg-dark text-white text-center">
    <h1>Noticias de {{ username }}</h1>
</div>
<div class="container">
    <section id="capitulos">
        <div class="row">
            <h2 class="text-center my-5">NOTICIAS</h2>
            {% for new in news %}
                <div class="col-md-4 col-sm-4">
                    <div class="card">
                        {% if new.imagen1 %}
                        <img class="card-img-top" src="{{ new.imagen1.url }}" alt="https://via.placeholder.com/300">
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'detalle_noticia' new.id %}"><h4>{{ new.titulo }}</h4></a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h2>no hay noticias</h2>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}